* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: ghostwhite;
	font-family: 'Poppins', sans-serif;
}

.flex--col {
	display: flex;
	flex-direction: column;
}

.flex--row {
	display: flex;
	flex-direction: row;
}

.flex--col-rev {
	display: flex;
	flex-direction: column-reverse;
}

.flex--row-rev {
	display: flex;
	flex-direction: row-reverse;
}

.flex--aln-cen {
	display: flex;
	align-items: center;
}

.flex--aln-sta {
	display: flex;
	align-items: flex-start;
}

.flex--aln-end {
	display: flex;
	align-items: flex-end;
}

.flex--jus-cen {
	display: flex;
	justify-content: center;
}

.flex--jus-sta {
	display: flex;
	justify-content: flex-start;
}

.flex--jus-end {
	display: flex;
	justify-content: flex-end;
}

.flex--wrap {
	flex-wrap: wrap;
}

.flex--1w {
	flex: 1;
}

.screen {
	width: 100%;
}

@media (max-width: 575px) {
	.screen {
		padding: 0rem 2rem;
	}
}

@media (min-width: 576px) {
	.screen {
		padding: 0rem 4rem;
	}
}