.footer {

    background-color: #0B132B;

    .footer__name {
        color: ghostwhite;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .horizontal-rule {
        margin: 3rem 0 1.5rem;
        width: 100%;
        height: 0.1rem;
        background-color: ghostwhite;
    }

    .footer__version {
        color: ghostwhite;
        font-size: 1rem;
        font-weight: 400;
    }
}

@media (max-width: 575px) {
    .footer {
        padding: 2rem 2rem;
    }
}

@media (min-width: 576px) {
    .footer {
        padding: 2rem 4rem;
    }
}