<div class="news flex--col">
    <div class="news__title">News</div>
    <swiper-container class="margin--t1rem" initSwiper [config]="swiperConfig">
        <swiper-slide *ngFor="let item of newsList">
            <div class="news-item flex--col" (click)="onNewsClick(item)">
                <img class="news-item__image" [src]="item.image" alt="News Image" />
                <div class="news-item__content">
                    <div class="news-item__title">{{item.title}}</div>
                    <div class="news-item__description">{{item.description}}</div>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</div>