.news {

    width: 100%;
    margin-bottom: 2rem;

    .margin--t1rem {
        margin-top: 1rem;
    }

    .news__heading {
        font-size: 1.75rem;
        font-weight: 500;
    }

    .news-item {
        cursor: pointer;
        height: 26rem;
        border: 0.1rem solid #e0e0e0;
    }

    .news-item__image {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }

    .news-item__content {
        padding: 0.5rem 1rem;
    }

    .news-item__title {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .news-item__description {
        font-size: 1rem;
        margin-top: 0.5rem;
        overflow: hidden;
    }
}